*{
    margin: 0;
    padding: 0;   
}

html{
    width: 100%;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(77, 77, 77);
}

#objectContainer{
    display: grid;
    grid-template-rows: 80px 60px 80px 400px 80px 60px;
    grid-template-columns: 400px 60px;
    grid-template-areas: "heading githubdiv"
                        "topPrompt  ."
                        "topButtons ."
                        "container ."
                        "bottomButton ."
                        "prompt .";
    margin: 20px auto;
    height: 760px;
    width: 460px;
    padding: 20px;
    padding-left: 60px;
    padding-right: 0px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.89);
}

#heading{
    font-size: 68px;
    font-weight: 800px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    grid-area: heading;
}


#topPrompt{
    display: flex;
    justify-content: space-between;
    align-content: center;
    grid-area: topPrompt;
}

#topButtons{
    grid-area: topButtons;
}

#topPrompt>div{
    line-height: 3;
    font-size: 20px;
    text-align: center;
    width: 130px;
    padding-top: 10px;
}

.fancy{
    display: inline-block;
    position:relative;
    width: 58px;
    height: 80px;
}

.fancy>span{
    color: #FFCD24;
    font-family: 'Kodchasan', sans-serif;
    font-weight: 800;
    position: absolute;
    top: 10px;
    left: 1px;
}

#X{
    left: 6px;
    color: #1A2930;
}


#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 400px;
    width: 400px;
    gap: 5px;
    grid-area: container;
}

button{
    border: 2px solid black;
    background-color: transparent;
    border-radius: 6px;
    font-size: 18px;
    height: 55px;
    width: 130px;
    margin-top: 10px;
    transition: all 0.2s ease-in-out;
}

@-webkit-keyframes buzz-out-on-hover {
    10% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0);
    }
    100% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0);
    }
  }
  @keyframes buzz-out-on-hover {
    10% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0);
    }
    100% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0);
    }
  }
  .buzz-out-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .buzz-out-on-hover:hover, .buzz-out-on-hover:focus, .buzz-out-on-hover:active {
    -webkit-animation-name: buzz-out-on-hover;
    animation-name: buzz-out-on-hover;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

#topButtons>button{
    width: 130px;
}

#github, #githubImg{
    position: relative;
    height: 28px;
    width: 28px;
    top: 5px;
}

button:hover{
    box-shadow: 0px 0px 6px black;
}

button:active{
    transform: scale(1.05);
    transition: all 0.1s ease-in-out;
}

.hidden{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

#prompt{
    transition: all 0.2s ease-in-out;
    text-align: center;
    font-size: 30px;
}

#bottomButton{
    grid-area: bottomButton;
}

#prompt{
    grid-area: prompt;
}

.box{
    font-family: 'Kodchasan', sans-serif;
    text-align: center;
    line-height: 1.6;
    background-color: #C5C1C0;
    font-size: 80px;
    font-weight: 800;
    border-radius: 6px;
}


.legal{
    cursor: pointer;
}

.player0{
    color: #1A2930;
}

.player1{
    color: #FFCD24;
}

button{
    height: 55px;
    width: 90px;
    display: inline;
}

.playerMode::before{
    content: "PLAYER";
}

#restart{
    width: 400px
}


.aiMode::before{
    content: "COMPUTER";
}