*{
    margin: 0;
    padding: 0;
}

#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 600px;
    width: 600px;
    gap: 2px;
}

.box{
    background-color: black;
    font-size: 40px;
}

.legal{
    cursor: pointer;
}

.player0{
    background-color: red;
}

.player1{
    background-color: blue;
}

button{
    height: 55px;
    width: 90px;
    display: inline;
}

.playerMode::before{
    content: "PLAYER";
}


.aiMode::before{
    content: "COMPUTER";
}